section {
  width: 450px;
  border: none;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  position: relative;
  box-shadow: 0 25px 20px 0 #93acd2;
}
    
/*.container-1    {
  text-align: center;
}*/


body {
  background-color: #eaf4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input, button {
  height: 45 px;
  font-size: 1.2 rem;
  
}

input {
  border: none;
  border-bottom: 1px solid rgb(204, 194, 194);
  margin-bottom: 20px;
  color: #737a76;
}


button {
  color: white;
  background-color: #3598db;
  margin-top: 30px;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

h3, button {
  text-transform: uppercase;
}

a {
  position: absolute;
  right: 50px;
  top: 170px;
  color: #c8c4c2;
  text-decoration: none;
}

p {
  border: 0px;
  padding: 10px;
  margin-top: 10px;
  color: #c8c4c2;;
}

